/*Común para todas las páginas de Mariano*/
/*Tamaño base de letra 16px = 1em*/

body {
	background-color: #1B5E20;		
	margin: 0px 15% 0px 15%;
	padding: 0px;
	width: 70%;
	height: 100%; 
}	

.mainContainer {
	margin: 0px;
	width: 100%;
	padding-bottom: 20px;
	height: 100%;
	background-color: #9CCC65;
}	

#imagen_banner {
	position: absolute;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 15%;
	width: 70%;
	/*Debe utilizarse el mismo width que el body para que parezca que se encuentra dentro del mainContainer*/
	height: 170px;
}	

h1, h2 {
	font-size: 24px;
	font-family: "Calibri", sans-serif;	
	margin: 2%;
}	

p {
	font-family: "Calibri", sans-serif;	
	margin: 2%;
	font-size: 16px;
}	

.titulo {
	position: relative;
}	

.titulo h1 {
	color: green;
	text-align: center;
	font-size: 40px;
	font-family: "Calibri", sans-serif;
	margin: 2px 0px;
}	

.titulo h2 {
	text-align: center;
	margin: 0px;
	font-family: "Calibri", sans-serif;
	font-style: italic;
}	

.tableBanner {
	position: relative;
	margin: 6px auto 0;
	width: 100%;
	font-family: "Calibri", sans-serif;
}	
			
.tableBanner th {
	border: 1px solid white;
	background: rgb(33, 97, 140);
	color: white;
	width: 20%;
	padding: 5px 0;
}	

.tableBanner a {
	text-decoration: none;
	color: white;
	font-size: 16px;
}	

/*Página Contacto.html*/

.content {
	overflow: auto;
	/*Esta parte hace que el contenedor content encierre toda la imagen imagenContacto que es puesta como float a la izquierda*/
}

.content p {
	margin-top: 0px;
	padding-top: 0px; 
}

.content a {
	color: blue;
}

.content a:hover {
	color: #5B2C6F;
}

#imagenContacto {	
	float: left;
	border: 1px solid green;
	border-radius: 10px;
	width: 50%;
	margin: 0px 2%;
}



/*Página Index.html*/

#subContainer {
	padding: 0px;
	margin: 0px;
	width: 100%;
	display: flex;
	/* display: flex forza a los divs hijos a estar en renglón */
}

#contenido-texto {
	width: 60%;
	font-family: "system-ui", sans-serif;
	font-weight: 500;
	color: black;
	margin: 10px 10px;
	padding: 0px;
	list-style-type: square;
}

.imgTitulo {
	margin: 0px 0px;
	width: 100%;
	height: 30px;
}

#prepara-pileta p {
	text-align: center;
	font-family: "system-ui", sans-serif;
	font-weight: 500;
}

#contenido-imagenes {
	padding: 0px;
	width: 40%;
	margin: 0px;
}

.img {
	width: 90%;
	margin: 5% 3% 0px;
	border: 1px solid black;
	border-radius: 5px;
}


/*Página Cotizaciones.html*/

form {
	margin: 50px 25%;
	width: 50%;
}

.lineaCotizacion {
	margin: 15px 0px;
	width: 100%;
	display: flex;
}

.lineaCotizacion p {
	font-family: "system-ui", sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0px auto 0px 10px;
	white-space: pre;
}

/* SECCION RESPONSIVE */

@media screen and (max-width: 650px) {
	.titulo h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 16px;
	}
	#imagen_banner {
		height: 122px;
	}
	#subContainer {
		display: block;
	}
	#contenido-texto {
		font-size: 12px;
		width: 80%;
		margin: 10px 10%;
	}
	.imgTitulo {
		height: 20px;
	}
	#prepara-pileta .imgTitulo {
		height: 40px;
	}
	#prepara-pileta p {
		font-size: 12px;
	}
	
}